* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color-scheme: light dark; */
  background-color: #1e213f;
  font-family: 'Kumbh Sans', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  justify-content: center;
  color: #d7e0ff;
  font-size: 14px;
  line-height: 18px;
  min-width: 320px;
  min-height: 100vh;
}

/* body {
  display: flex;
  justify-content: center;
  color: #d7e0ff;
  font-size: 14px;
  line-height: 18px;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 100px;
  line-height: 120px;
  letter-spacing: -5px;
  margin: 18px 0 0 0;
}

h2 {
  font-size: 28px;
  line-height: 34px;
  margin: 0;
}

h3 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 15px;
  text-transform: uppercase;
}

h4 {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 5px;
  text-transform: capitalize;
}

button {
  border-radius: 1000px;
  border: 1px solid transparent;
  padding: 18px 47px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  background-color: #f87070;
  cursor: pointer;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
